* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f5efe8;
  color: #f5efe8;
}

a { text-decoration: none; color: inherit; }

.subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  color: #55795f;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.logo { font-size: 1.4rem; font-weight: 600; }

/* HERO */
.hero {
  min-height: 100vh;
  background: url('../images/background.jpg') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  text-align: center;
  padding: 80px 20px;
}

.hero-content h2 {
  font-size: 3.2rem;
  margin: 10px 0;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  background: #55795f;
  color: #f5efe8;
}

.btn.outline {
  background: transparent;
  border: 1.5px solid #55795f;
  color: #f5efe8;
}

/* ABOUT */
.about-section {
  padding: 100px 10%;
  background: #F6F5F4;
  color:#2d3d32;
}

.about-grid {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 60px;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 420px;
  border-radius: 6px;
}

/* PROJECTS */
.projects {
  padding: 100px 10%;
  background: #55795f;
  color:#2d3d32;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

.card {
  background: #F6F5F4;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  color:#2d3d32;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #2d3d32;
  color: #55795f  ;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: #333;
}
