<header class="navbar">
  <div class="nav-container">
    <div class="logo">IMDI</div>

    <div class="hamburger" id="hamburger">
      <span></span><span></span><span></span>
    </div>

    <ul class="nav-links" id="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</header>

<section class="hero" id="home" style="background-image: url('{{ site.baseurl }}/images/background.jpg');">
  <div class="hero-content fade">
    <h1>Imdi Melvana</h1>
    <p>Masterstudent · Data · Software · IT</p>
    <a href="#contact" class="btn">Kontakt aufnehmen</a>
    <a href="{{ site.baseurl }}/Lebenslauf_Imdi.pdf"
      class="btn outline"
      target="_blank">
      Download CV
    </a>
  </div>
</section>
