<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Imdi Melvana</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/responsive.css' | relative_url }}">
</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

</body>
</html>
